<form action="/<%= @action %>/person" method="POST" id="main-form">
<fieldset>
    <legend><%= @action.capitalize %> Person</legend>
    <div class="control-group">
      <label>First Name:</label>
      <input type="text" id="first_name" name="first_name" value="<%= @person[:first_name] %>" />
    </div>
    <div class="control-group">
      <label>Last Name:</label>
      <input type="text" id="last_name" name="last_name" value="<%= @person[:last_name] %>" />
    </div>
    <div class="control-group">
      <label class="control-label">Gender</label>
      <div class="controls">
        <%= partial(:selectList, {:values => {"female" => "Female", "male" => "Male"}, :current_value => @person[:gender], :name => "gender" }) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Role:</label>
      <div class="controls">
        <%= partial(:selectList, {:values => {"1" => "Student", "2" => "Worker", "3" => "Student Worker" }, :current_value => @person[:person_type], :name => "role" }) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Meeting:</label>
      <div class="controls">
      <%= partial(:selectList, {:values => Hash[@meetings.collect {|m| [ m[:id].to_s, m[:name] ] }], :current_value => params[:meeting], :name => "meeting" }) %>
      </div>
    </div>
    <div class="control-group">
      <label>Birthday:</label>
      <div class="controls">
        <div class="form-inline">
          <%= partial(:date, { :current_value => @person[:birthdate], :name => "birthdate" }) %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label>Phone:</label>
      <input type="text" id="phone" name="phone" value="<%= @person[:phone] %>" />
    </div>
    <div class="control-group">
      <label>Address:</label>
      <input type="text" id="address_line1" name="address_line1" value="<%= @person[:address_line1] %>" />
    </div>
    <div class="control-group">
      <label></label>
      <input type="text" id="address_line2" name="address_line2" value="<%= @person[:address_line2] %>" />
    </div>
    <div class="control-group">
      <label>City:</label>
      <input type="text" id="city" name="city" value="<%= @person[:city] %>" />
    </div>
    <label >State:</label>
    <input type="text" class="span1" id="state" name="state" value="OH" value="<%= @person[:state] %>" />
    <label >Zip:</label>
    <input type="text" id="zip" name="zip" class="span2" value="<%= @person[:zip] %>" />
    <div class="control-group">
      <label>First Attendance:</label>
      <div class="controls">
        <div class="form-inline">
          <%= partial(:date, { :current_value => @person[:first_attendance], :name => "first_attendance" }) %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label>Salvation Date:</label>
      <div class="controls">
        <div class="form-inline">
          <%= partial(:date, { :current_value => @person[:salvation_date], :name => "salvation_date" }) %>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label>Baptism Date:</label>
      <div class="controls">
        <div class="form-linline">
          <%= partial(:date, { :current_value => @person[:baptism_date], :name => "baptism_date" }) %>
        </div>
      </div>
    </div>
    <label>Allergy or Medical Information:</label>
    <textarea rows="3" id="allergy_medical" name="allergy_medical"><%= @person[:allergy_medical] %></textarea>
    <label>Notes:</label>
    <textarea rows="3" id="notes" name="notes" ><%= @person[:notes] %></textarea>
    <div class="well">
      <input class="btn btn-primary" type="submit" value="<%= @action.capitalize %> Person" />
    </div>
    <input type="hidden" id="id" name="id" value='<%= @person[:id] %>' />
    <script type="text/javascript">
      onInit(function () {
          $("#main-form").validate({ 
            rules: { 
              first_name: { minlength: 2, required: true },
              last_name: { minlength: 2, required: true },
              "birthdate-date-m" : "required",
              "birthdate-date-d" : "required",
              "birthdate-date-y" : "required"
            },
            messages: {
              first_name: { minlength: "Please enter more than 2 characters", required: "First name is required" },
              last_name: { minlength: "Please enter more than 2 characters", required: "Last name is required" },
              "birthdate-date-m" : "",
              "birthdate-date-d" : "",
              "birthdate-date-y" : "Birthday is requried"
            },
            groups: {
              birthday: "birthdate-date-m birthdate-date-d birthday-date-y"
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function(element, errorClass, validClass) {
              $(element).closest('.control-group').addClass('error');
            },
            unhighlight: function(element, errorClass, validClass) {
              $(element).closest('.control-group').removeClass('error');
            },
            errorPlacement: function(label, element) {
              if (/^birthdate/.test(element[0].name)) {
                label.insertAfter("#birthdate-date-y");
              } else {
                label.insertAfter(element);

              }
            }
          });
      });
    </script>
</form>
