<form action="/<%= @action %>/<%= @type %>" method="POST">
<fieldset>
  <legend><%= @action.capitalize %> <%= @type.to_s.capitalize %></legend>
    <div class="clearfix">
        <label>First Name:</label>
        <div class="input">
          <input type="text" id="first_name" name="first_name" value="<%= @person[:first_name] %>" />
        </div>
    </div>
    <div class="clearfix">
        <label>Last Name:</label>
        <div class="input">
          <input type="text" id="last_name" name="last_name" value="<%= @person[:last_name] %>" />
        </div>
    </div>
    <div id="data-values">
      <div class="clearfix">
        <label>First Attendance:</label>
        <div class="input">
          <input type="text" id="first_attendance" name="first_attendance" value="<%= @person[:first_attendance] || Date.today %>" />
        </div>
      </div>
      <div class="clearfix">
        <label>Address:</label>
        <div class="input">
          <input type="text" id="address" name="address" />
        </div>
      </div>
      <div class="clearfix">
        <div class="input">
          <input type="text" id="address2" name="address2" />
        </div>
      </div>
      <div class="clearfix">
        <label>City:</label>
        <div class="input">
          <input type="text" id="city" name="city" />
        </div>
      </div>
      <div class="clearfix">
        <label>State:</label>
        <div class="input">
          <div class="inline-inputs">
            <input type="text" class="span1" id="state" name="state" value="OH" />
            Zip:
            <input type="text" class="span2" id="zip" name="zip" />
          </div>
        </div>
      </div>
      <div class="clearfix">
        <label>Phone:</label>
        <div class="input">
          <input type="text" id="phone" name="phone" />
        </div>
      </div>
      <div class="clearfix">
        <label>Allergy or Medical Information:</label>
        <div class="input">
          <textarea rows="3" id="allergy_medical" name="allergy_medical"></textarea>
        </div>
      </div>
      <div class="clearfix">
        <label>Notes:</label>
        <div class="input">
          <textarea rows="3" id="notes" name="notes"></textarea>
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="btn primary" type="submit"><%= @action.capitalize %> <%= @type.to_s.capitalize %></button>
    </div>
    <input type="hidden" id="data" name="data" value='<%= @person[:data] %>' />
    <input type="hidden" id="id" name="id" value='<%= @person[:id] %>' />
    <script type="text/javascript">
      $(document).ready(function () {
          var data = null;
          var dataVal = $("#data").val();
          var keys;
          if (dataVal) {
            data = JSON.parse(dataVal);
            keys = _.keys(data);
            for (var i = 0; i < keys.length; i++) {
                $("#" + keys[i]).val(data[keys[i]]);
            }
          }
          $("form").submit(function () {
              var data = {};
              $("#data-values :input").each(function () {
                  var item = {};
                  item[$(this).attr("name")] = $(this).val();
                  $.extend(data,item);
              });
              $("#data").val(JSON.stringify(data));
          });
      });
    </script>
</fieldset>
</form>
