<h2><%= @action.capitalize %> Person</h2>
<form action="/<%= @action %>/person" method="POST">
    <label>First Name:</label>
    <input type="text" id="first_name" name="first_name" class="required" value="<%= @person[:first_name] %>" />
    <label>Last Name:</label>
    <input type="text" id="last_name" name="last_name" class="required" value="<%= @person[:last_name] %>" />
    <div class="control-group">
      <label class="control-label">Gender</label>
      <div class="controls">
        <div id="gender-buttons" class="btn-group" data-toggle="buttons-radio">
          <button type="button" name="gender" value="male" class="btn <%= (@person[:gender] == 'male' or @person[:gender] == nil) ? 'active' : '' %>">Male</button>
          <button type="button" name="gender" value="female" class="btn <%= (@person[:gender] == 'female') ? 'active' : '' %>">Female</button>
        </div>
      </div>
      <input type="hidden" id="gender" name="gender" value="<%= @person[:gender] or 'male' %>" />
    </div>
    <div class="control-group">
      <label class="control-label">Role</label>
      <div class="controls">
        <div id="role-buttons" class="btn-group" data-toggle="buttons-radio">
          <button type="button" name="type" value="student" class="btn <%= @person[:type] == :student ? 'active' : '' %>">Student</button>
          <button type="button" name="type" value="worker" class="btn <%= @person[:type] == :worker ? 'active' : '' %>">Worker</button>
          <button type="button" name="type" value="student_worker" class="btn <%= @person[:type] == :student_worker ? 'active' : '' %>">Student Worker</button>
        </div>
      </div>
      <input type="hidden" id="type" name="type" value="<%= @person[:type] or 'student' %>" />
    </div>
    <label>Birthday:</label>
    <%= partial(:date, { :current_value => @person[:birthdate], :name => "birthdate" }) %>
    <div id="data-values">
      <label>Phone:</label>
      <input type="text" id="phone" name="phone" />
      <label>Address:</label>
      <input type="text" id="address" name="address" />
      <label></label>
      <input type="text" id="address2" name="address2" />
      <label>City:</label>
      <input type="text" id="city" name="city" />
      <label >State:</label>
      <input type="text" class="span1" id="state" name="state" value="OH" />
      <label >Zip:</label>
      <input type="text" class="span2" id="zip" name="zip" class="digits"  />
      <label>First Attendance:</label>
      <%= partial(:date, { :current_value => @person[:first_attendance], :name => "first_attendance" }) %>
      <label>Salvation Date:</label>
      <%= partial(:date, { :current_value => @person[:salvation_date], :name => "salvation_date" }) %>
      <label>Baptism Date:</label>
      <%= partial(:date, { :current_value => @person[:baptism_date], :name => "baptism_date" }) %>
      <label>Allergy or Medical Information:</label>
      <textarea rows="3" id="allergy_medical" name="allergy_medical"></textarea>
      <label>Notes:</label>
      <textarea rows="3" id="notes" name="notes"></textarea>
    </div> 
    <div class="well">
      <button class="btn btn-primary" type="submit"><%= @action.capitalize %> Person</button>
    </div>
    <input type="hidden" id="data" name="data" value='<%= @person[:data] %>' />
    <input type="hidden" id="id" name="id" value='<%= @person[:id] %>' />
    <script type="text/javascript">
      $(document).ready(function () {
        var data = null;
        var dataVal = $("#data").val();
        var keys;
        if (dataVal) {
          data = JSON.parse(dataVal);
          keys = _.keys(data);
          for (var i = 0; i < keys.length; i++) {
            $("#" + keys[i]).val(data[keys[i]]);
          }
        }
        $("form").submit(function () {
          var data = {};
          $("#data-values :input").each(function () {
            var item = {};
            item[$(this).attr("name")] = $(this).val();
            $.extend(data,item);
          });
          $("#data").val(JSON.stringify(data));
        });
        $("form").validate({ 
          errorClass: "error",
          errorElement: "em",
          highlight: function(element, errorClass, validClass) {
            $(element).addClass(errorClass).removeClass(validClass);
            $(element).parents("div.clearfix").addClass(errorClass);
          },
          unhighlight: function(element, errorClass, validClass) {
            $(element).removeClass(errorClass).addClass(validClass);
            $(element).parents("div.clearfix").removeClass(errorClass);
          }
        });
        $("#role-buttons button").click(function () {
          $("#type").val($(this).attr("value"));
        });
        $("#gender-buttons button").click(function () {
          $("#gender").val($(this).attr("value"));
        });
      });
    </script>
</form>
