<p><%= @type %>s</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= person[:first_name] %> <%= person[:last_name] %></td>
      <td><a href='<%= "/view/student/#{person[:id]}"%>'>Details</a> </td>
      <td><a href='<%= "/edit/student/#{person[:id]}"%>'>Edit</a> </td>
    </tr>
  <% end %>
</tbody>
</table>
