<h2><%= @type.to_s.capitalize %>s</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= person[:first_name] %> <%= person[:last_name] %></td>
      <td><a href='<%= "/view/#{@type}/#{person[:id]}"%>'>Details</a> </td>
      <td><a href='<%= "/edit/#{@type}/#{person[:id]}"%>'>Edit</a> </td>
    </tr>
  <% end %>
</tbody>
</table>
