
<% if params[:search] %>
  <h4>Names that contain: "<%= params[:search] %>"</h4>
<% end %>
<table class="table" id="people">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Grade</th>
      <th>Phone</th>
      <th>Address</th>
      <th class="hidden-phone">Meeting</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @people[0].each do |person| %>
    <tr>
      <td><a href='<%= url("/person/#{person[:id]}") %>'><%= person[:first_name] %> <%= person[:last_name] %></a></td>
      <td><%= person[:gender].capitalize %></td>
      <td><%= person[:grade] or 'N/A' %></td>
      <td><%= person[:phone] or 'N/A' %></td>
      <td><%= person[:address_line1] or 'N/A' %></td>
      <td class="hidden-phone">
        <%= @meetings[person[:meeting_id] - 1][:name] %> 
      </td> <!--HACK: -1 sucks here -->
      <td>
        <%= role_icons(person[:type]) %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<%
  pages = @people[1] / 10
  total_pages = pages
  if pages >= 5 then
    pages = 5
  end

%>

  <div class="pagination">
    <ul>
      <% for i in 0..pages %>
      <li><a href="<%= url("/people" + page_number(i)) %>"><%= i + 1 %></a></li>
      <% end %>
      <% if pages < total_pages then %>
      <li><a href="<%= url("/people" + page_number(total_pages)) %>"><%= total_pages %></a></li>
      <% end %>
    </ul>
  </div>
<div class="row well">
  <a class="btn" href='<%= "/add/person" %>'>Add New</a>
  <a class="btn" id="filter-list" href="#">Filter List</a>
</div>

<form class="form-horizontal well" action="/people" method="GET" id="filter" style="display:none">
  <div class="control-group" >
    <label class="control-label">Gender</label>
    <div class="controls">
      <%= partial(:selectList, {:values => {"" => "Any", "female" => "Female", "male" => "Male"}, :current_value => params[:gender], :name => "gender" }) %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Role</label>
    <div class="controls">
      <%= partial(:selectList, {:values => @types.insert(0, "Any"), :current_value => params[:role], :name => "role" }) %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Meeting</label>
    <div class="controls">
      <%
          # need to add "Any" item at beginning after selecting out the needed values.
          processed_meetings = @meetings.collect {|m| [ m[:id].to_s, m[:name] ] } 
          processed_meetings.insert(0, ["", "Any"])
          meeting_items = Hash[processed_meetings]
      %>
      <%= partial(:selectList, {:values => meeting_items, :current_value => params[:meeting], :name => "meeting" }) %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Grade</label>
    <div class="controls">
      <%= partial(:selectList, {:values => @grades.insert(0, "Any"), :current_value => params[:grade], :name => "grade" }) %>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" id="update" class="btn btn-primary">Update</button>
    <button type="button" id="cancel" class="btn">Cancel</button>
  </div>
</form>
<script type="text/javascript">
  onInit(function () {
      $("#filter-list").click(function () { $("#filter").show(); return false; });
      $("#cancel").click(function () { $("#filter").toggle(); return false; })
  });
</script>
