<form class="form-horizontal well" action="/people" method="GET">
  <h2>Filter List </h2>
  <div class="control-group" >
    <label class="control-label">Gender</label>
    <div class="controls">
      <div id="gender" class="btn-group" data-toggle="buttons-checkbox">
        <button type="button" name="male" class="btn">Male</button>
        <button type="button" name="female" class="btn">Female</button>
      </div>
    </div>
    <input type="hidden" id="gender" name="gender" />
  </div>
  <div class="control-group">
    <label class="control-label">Role</label>
    <div class="controls">
      <div id="role" class="btn-group" data-toggle="buttons-checkbox">
        <a href="#" class="btn">Student</a>
        <a href="#" class="btn">Worker</a>
        <a href="#" class="btn">Student Worker</a>
      </div>
    </div>
    <input type="hidden" id="role" name="role" />
  </div>
  <div class="control-group">
    <label class="control-label">Meeting</label>
    <div class="controls">
      <%= partial(:meetings, { :meetings => @meetings }) %>
    </div>
    <input type="hidden" id="meeting" name="meeting" />
  </div>
  <div class="control-group">
    <label class="control-label">Grade</label>
    <div class="controls">
      <div id="grade" class="btn-group" data-toggle="buttons-checkbox">
        <a href="#" class="btn">PreK</a>
        <a href="#" class="btn">K</a>
        <a href="#" class="btn">1</a>
        <a href="#" class="btn">2</a>
        <a href="#" class="btn">3</a>
        <a href="#" class="btn">4</a>
        <a href="#" class="btn">5</a>
        <a href="#" class="btn">6</a>
        <a href="#" class="btn">7</a>
        <a href="#" class="btn">8</a>
        <a href="#" class="btn">9</a>
        <a href="#" class="btn">10</a>
        <a href="#" class="btn">11</a>
        <a href="#" class="btn">12</a>
        <a href="#" class="btn">PostHS</a>
      </div>
    </div>
    <input type="hidden" id="grade" name="grade" />
  </div>
  <div class="row ">
    <div class="span3 offset9">
      <button type="submit" id="update" class="btn btn-primary">Update</button>
      <button type="button" id="cancel" class="btn">Cancel</button>
    </div>
  </div>
</form>

<% if params[:search] %>
  <h4>Names that contain: "<%= params[:search] %>"</h4>
<% end %>
<table class="table" id="people">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Grade</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Meeting</th>
    </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><a href='<%= "/person/#{person[:id]}"%>'><%= person[:first_name] %> <%= person[:last_name] %></a></td>
      <td><%= person[:gender].capitalize %></td>
      <td class="last-static-dataitem"><%= person[:grade] or 'N/A' %></td>
      <td><%= person[:meeting_id] %></td>
    </tr>
  <% end %>
</tbody>
</table>

<div class="row well">
  <a class="btn btn-primary" href='<%= "/add/person" %>'>Add New</a>
</div>
<script type="text/javascript">
  $(document).ready(function () {
      var infoArray = [];
      var tableRows = $("#people tbody tr");
      <% @people.each do |person| %> infoArray.push(JSON.parse('<%= person[:data] %>')); <% end %>
      $.template("basicData", "<td>{{=phone}}</td><td>{{=address}}</td>");
      for (var i = 0; i < tableRows.length; i++) {
          $(tableRows[i]).find(".last-static-dataitem").after($.render(infoArray[i], "basicData"));
      }
      $("#gender button").click(function () {
          if ($(this).selected()) {
          }
          else {
          }
      });
  });
</script>
