<dl id="person" class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @person[:first_name] %> <%= @person[:last_name] %></dd>
  <dt>Gender</dt>
  <dd><%= @person[:gender].capitalize %> </dd>
  <dt>Role</dt>
  <dd><%= @types[@person[:person_type_id]-1] %> </dd>
  <dt>Meeting</dt>
  <dd><%= @meetings[@person[:meeting_id]-1][:name] %></dd> <!-- HACK: -1 sucks! -->
  <dt>Phone</dt>
  <dd><%= @person[:phone] %></dt>
  <dt>Address</dt>
  <dd>
  <div><%= @person[:address_line1]%></div>
  <div><%= @person[:address_line2]%></div>
  <div><%= @person[:city]%>, <%= @person[:state]%> <%= @person[:zip]%></div>
  </dd>
  <% if not @person[:grade].nil? %>
  <dt>Current Grade</dt>
  <dd><%= @person[:grade]%></dd>
  <% end %>
  <% if not @person[:birthdate].nil? %>
  <dt>Birthday</dt>
  <dd> <%= partial(:viewdate, { :current_value => @person[:birthdate] }) %></dd>
  <%end%>
  <dt>Allergy/Medical Condition</dt>
  <dd></dd>
  <dt>Notes</dt>
  <dd></dd>
  <dt>First Attendance</dt>
  <dd> <%= partial(:viewdate, { :current_value => @person[:first_attendance] }) %></dd>
  <% if not @person[:salvation_date].nil? %>
  <dt>Salvation Date</dt>
  <dd> <%= partial(:viewdate, { :current_value => @person[:salvation_date] }) %></dd>
  <%end%>
  <% if not @person[:baptism_date].nil? %>
  <dt>Baptism Date</dt>
  <dd> <%= partial(:viewdate, { :current_value => @person[:baptism_date] }) %></dd>
  <% end %>
</dl>
<div class="clearfix well">
  <a class="btn btn-primary" href='<%= "/edit/person/#{@person[:id]}"%>'>Edit</a> 
  <a class="btn btn-danger" href='<%= "/delete/person/#{@person[:id]}"%>' onclick="return confirm('Are you sure you wish to delete this person?');">Delete</a> 
</div>
<div style="display:none">
Record Created: <%= @person[:create_date] %>
</div>

