<dl id="person">
  <dt>Name</dt>
  <dd><%= @person[:first_name] %> <%= @person[:last_name] %></dd>
  <dt>Gender</dt>
  <dd><%= @person[:gender].capitalize %> </dd>
  <dt>Role</dt>
  <dd><%= @person[:gender].capitalize %> </dd>
  <dt>Meeting</dt>
  <dd><%= @meetings[@person[:meeting_id]-1][:name] %></dd> <!-- HACK: -1 sucks! -->
</dl>
<div class="clearfix well">
  <a class="btn btn-primary" href='<%= "/edit/person/#{@person[:id]}"%>'>Edit</a> 
  <a class="btn btn-danger" href='<%= "/edit/person/#{@person[:id]}"%>'>Delete</a> 
</div>
<div style="display:none">
Record Created: <%= @person[:create_date] %>
</div>
<script id="dataItem" type="text/x-jquery-tmpl">
  <dt>Phone</dt>
  <dd>{{= phone}}</dt>
  <dt>Address</dt>
  <dd>
  <div>{{= address}}</div>
  <div>{{= address2}}</div>
  <div>{{= city}}, {{= state}} {{= zip}}</div>
  </dd>
  {{#if grade}}
  <dt>Current Grade</dt>
  <dd>{{= grade}}</dd>
  {{/if}}
  {{#if birthday}}
  <dt>Birthday</dt>
  <dd>{{= birthday}}</dd>
  {{/if}}
  <dt>Allergy/Medical Condition</dt>
  <dd>{{itemOrNone allergy_medical}}</dd>
  <dt>Notes</dt>
  <dd>{{itemOrNone notes}}</dd>
  <dt>First Attendance</dt>
  <dd>{{= first_attendance}}</dd>
  {{#if salvation_date }}
  <dt>Salvation Date</dt>
  <dd>{{= salvation_date}}</dd>
  {{/if}}
  {{#if baptism_date }}
  <dt>Baptism Date</dt>
  <dd>{{= baptism_date}}</dd>
  {{/if}}
</script>

<script type="text/javascript">
  $(function () {
      var data = JSON.parse('<%= @person[:data] %>');
      $("#person").append(
        $("#dataItem").render(data)
      );
  });
</script>
